<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://chr2cre.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ddd799c1-878a-4379-9d93-3e210202aad3/resourceGroups/chr2cre/providers/Microsoft.Web/sites/chr2cre</ResourceId>
    <UserName>$chr2cre</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://chr2cre.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>